body {
	margin: 0px;
	overflow: hidden
}

#menu {
	color: #eee;
	background-color: #161616;
	height: 100vh;
	width: 300px;
	position: fixed;
	/* left: -280px; */
	top: 0px;
}

#menu:hover {
	left: 0px;
}

#menu .author{
	color: #666;
}

#menu input, #menu textarea {
	color: #eee;
	background-color: #060606;
	border: none;
	margin: 2px;
	padding: 0.5em;
	border-radius: 5px;
}

#menu input[type="number"] {
	width: 30px;
}

#menu label {
	color: #888;
}

#menu #cubePicker {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content:center;
}

#menu #cubePicker .cube{
	text-align: center;
	width: 30%;
	background-color: #222;
	border-radius: 6px;
}
#menu #cubePicker .cube input{
	box-sizing: border-box;
	width: 95%;
	padding: 3px;
}
#menu #cubePicker .preview {
	min-height: 30px;
	overflow: hidden;
	border-radius: 6px;
	width: 100%
}

.CubeEditMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.CubeEditMenu .popup {
	background-color: #161616;
	padding: 0.5em;
	border-radius: 6px;
}

.CubeEditMenu .popup .json {
	display: block;
	height: 100px;
}
